h1, h3{
    font-family: "brownies";
    src: './../fonts/The Brownies.otf';
}

h1{
    font-size: 3.2rem;
    word-spacing: 3rem;
}

p{
    font-family: ff-tisa-web-pro, serif;
    font-weight: 400;
    font-style: normal;
}