h1, h3{
    font-family: "brownies";
    src: './../fonts/The Brownies.otf';
}

a{
    text-decoration: none;
}

h1{
    
    //desktop
    font-size: 2rem;
}

p{
    font-family: ff-tisa-web-pro, serif;
    font-weight: 400;
    font-style: normal;
}