@import url(./../../../node_modules/normalize.css/normalize.css);
@import url(./../../../node_modules/bulma/css/bulma.css);
h1, h3 {
  font-family: "brownies";
  src: './../fonts/The Brownies.otf'; }

h1 {
  font-size: 2rem;
  word-spacing: 1.5rem; }

p {
  font-family: ff-tisa-web-pro, serif;
  font-weight: 400;
  font-style: normal; }

/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
nav {
  padding-top: 0.8rem;
  padding-left: 0.8rem; }
  nav .nav_closed {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0; }
  nav .nav_list .nav_list-links {
    display: none; }

.site_name {
  text-align: center; }

#container_heading {
  border: solid black;
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }
  #container_heading nav {
    border: solid black;
    flex-grow: 1;
    text-align: center; }
  #container_heading .site_name {
    border: solid black;
    flex-grow: 9; }

#front_page_container_main {
  border: solid black;
  background-image: url("../images/cookie_stack_opimized_desktop.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center; }
  #front_page_container_main .front_page_about_container {
    border: solid black;
    display: flex;
    flex-flow: column wrap;
    margin: 5% 5% 5% 5%; }
    #front_page_container_main .front_page_about_container .front_page_about_container--heading {
      border: solid black;
      font-size: 1.8rem;
      font-weight: bold;
      text-align: center;
      color: #F8F8F8; }
    #front_page_container_main .front_page_about_container .front_page_about_container--description {
      border: solid black;
      text-align: center;
      margin: 0 0 10% 0;
      color: #F8F8F8; }
    #front_page_container_main .front_page_about_container .front_page_about_button_container {
      border: solid black;
      margin: 0 auto;
      text-align: center; }
      #front_page_container_main .front_page_about_container .front_page_about_button_container .front_page_about_button_container--button {
        border: solid black; }

.about .about_title {
  text-decoration: underline;
  font-size: 2.5rem; }
.about .about_owner-container {
  border: solid black;
  padding-left: 1rem; }
  .about .about_owner-container .about_owner-image {
    border: solid black;
    border-radius: 50%; }
.about .about_description {
  border: solid black; }
.about .about_section-saying {
  border: solid black;
  background-color: #FC6B6B; }
  .about .about_section-saying .about_section-saying-quote {
    color: white; }
  .about .about_section-saying .about_section-saying-name {
    color: white; }

footer {
  border: solid black;
  background-color: #F5C6C3; }
  footer .footer_links {
    text-align: center; }
    footer .footer_links a {
      color: #707070; }
    footer .footer_links .footer_links--link {
      padding-top: 2rem; }
  footer .footer_image {
    text-align: center; }
  footer .footer_email {
    text-align: center;
    padding-bottom: 1rem; }
    footer .footer_email a {
      color: #707070; }

/*# sourceMappingURL=styles.css.map */
