@import url(./../../../node_modules/normalize.css/normalize.css);
@import url(./../../../node_modules/bulma/css/bulma.css);
h1, h3 {
  font-family: "brownies";
  src: './../fonts/The Brownies.otf'; }

a {
  text-decoration: none; }

h1 {
  font-size: 2rem; }

p {
  font-family: ff-tisa-web-pro, serif;
  font-weight: 400;
  font-style: normal; }

/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
#container_heading {
  border: solid black;
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }
  #container_heading nav {
    margin-top: 1.2rem;
    padding-top: 0.8rem;
    padding-left: 0.8rem;
    border: solid black;
    flex-grow: 0.5;
    text-align: center; }
    @media only screen and (min-width: 900px) {
      #container_heading nav {
        margin-top: 1.4rem;
        margin-left: 0.9rem; } }
    #container_heading nav .nav_closed {
      width: 2rem;
      height: .25rem;
      background-color: black;
      margin: .5rem 0; }
    #container_heading nav .nav_list .nav_list-links {
      display: none; }
  #container_heading .site_name {
    border: solid black;
    flex-grow: 9; }

.site_name {
  text-align: center;
  word-spacing: 1.5rem;
  font-size: 2.5rem; }
  @media only screen and (min-width: 900px) {
    .site_name {
      font-size: 3rem; } }

#front_page_container_main {
  border: solid black;
  background-image: url("../images/cookie_stack_opimized_desktop.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center; }
  #front_page_container_main .front_page_about_container {
    border: solid black;
    display: flex;
    flex-flow: column wrap;
    margin: 5% 5% 5% 5%; }
    #front_page_container_main .front_page_about_container .front_page_about_container--heading {
      border: solid black;
      font-size: 1.8rem;
      font-weight: bold;
      text-align: center;
      color: #F8F8F8; }
      @media only screen and (min-width: 768px) {
        #front_page_container_main .front_page_about_container .front_page_about_container--heading {
          font-size: 2.3rem;
          padding: 0 10% 0 10%; } }
    #front_page_container_main .front_page_about_container .front_page_about_container--description {
      border: solid black;
      text-align: center;
      margin: 0 0 7% 0;
      font-size: 1rem;
      line-height: 1.6;
      color: #F8F8F8; }
      @media only screen and (min-width: 600px) {
        #front_page_container_main .front_page_about_container .front_page_about_container--description {
          line-height: 2.4; } }
      @media only screen and (min-width: 768px) {
        #front_page_container_main .front_page_about_container .front_page_about_container--description {
          padding: 0 10% 0 10%; } }
    #front_page_container_main .front_page_about_container .front_page_about_button_container {
      border: solid black;
      margin: 0 auto;
      text-align: center; }
      #front_page_container_main .front_page_about_container .front_page_about_button_container .front_page_about_button_container--button {
        width: 8rem;
        height: 3rem;
        background: transparent;
        background-color: Transparent;
        background-repeat: no-repeat;
        border: solid white;
        cursor: pointer;
        overflow: hidden;
        outline: none; }
        #front_page_container_main .front_page_about_container .front_page_about_button_container .front_page_about_button_container--button a {
          color: white; }

#front_page_contact_container .front_page_contact_container--heading {
  color: #707070; }
#front_page_contact_container .front_page_contact_button_container .front_page_contact_button_container--button {
  width: 8rem;
  height: 3rem;
  background: transparent;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: solid black;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  text-decoration: none; }
  #front_page_contact_container .front_page_contact_button_container .front_page_contact_button_container--button a {
    color: black; }

.about .about_section_container {
  border: black solid; }
  @media only screen and (min-width: 900px) {
    .about .about_section_container {
      display: flex;
      flex: wrap;
      flex-direction: row-reverse;
      margin-top: 2.5rem;
      margin-bottom: 3.6rem; } }
  .about .about_section_container .about_title {
    text-decoration: underline;
    font-size: 2.2rem;
    text-align: center;
    word-spacing: .5rem; }
    @media only screen and (min-width: 900px) {
      .about .about_section_container .about_title {
        font-size: 2.5rem; } }
  .about .about_section_container .about_owner-container {
    margin-top: 1rem;
    border: solid black;
    display: flex;
    justify-content: center; }
    @media only screen and (min-width: 900px) {
      .about .about_section_container .about_owner-container {
        padding-top: 2rem;
        padding-right: 1rem;
        margin-top: 1.5rem; } }
    @media only screen and (min-width: 1200px) {
      .about .about_section_container .about_owner-container {
        padding-right: 6rem; } }
    .about .about_section_container .about_owner-container .about_owner-image {
      border: solid black;
      border-radius: 50%;
      height: 250px;
      width: 300px; }
      @media only screen and (min-width: 950px) {
        .about .about_section_container .about_owner-container .about_owner-image {
          height: 275px;
          width: 325px; } }
      @media only screen and (min-width: 1000px) {
        .about .about_section_container .about_owner-container .about_owner-image {
          height: 300px;
          width: 350px; } }
  .about .about_section_container .about_description {
    border: solid black;
    text-align: center;
    line-height: 1.8;
    padding-right: .5rem;
    padding-left: .5rem; }
    @media only screen and (min-width: 900px) {
      .about .about_section_container .about_description {
        padding-right: 4rem;
        padding-left: 4rem;
        line-height: 2; } }
    @media only screen and (min-width: 900px) {
      .about .about_section_container .about_description {
        padding-right: 6rem;
        padding-left: 6rem;
        line-height: 2.1; } }
    @media only screen and (min-width: 1200px) {
      .about .about_section_container .about_description {
        padding-right: 8rem;
        padding-left: 8rem;
        line-height: 2.2; } }
.about .about_section-saying {
  border: solid black;
  font-size: 1.5rem;
  padding-right: .5rem;
  padding-left: .5rem;
  background-color: #FC6B6B; }
  @media only screen and (min-width: 600px) {
    .about .about_section-saying {
      text-align: center;
      font-size: 1.7rem; } }
  @media only screen and (min-width: 800px) {
    .about .about_section-saying {
      font-size: 1.9rem;
      padding-top: 2.5rem;
      padding-bottom: 2.5rem; } }
  .about .about_section-saying .about_section-saying-quote {
    color: white; }
  .about .about_section-saying .about_section-saying-name {
    color: white;
    font-size: 1rem;
    text-align: center; }

#front_page_contact_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }
  #front_page_contact_container .front_page_contact_container--heading {
    border: solid black;
    font-size: 2.4rem;
    font-weight: bold;
    text-align: center;
    font-family: "brownies";
    padding: 7% 10% 7% 10%;
    margin-top: 20%;
    width: 100%;
    flex-grow: 10; }
    @media only screen and (min-width: 600px) {
      #front_page_contact_container .front_page_contact_container--heading {
        font-size: 2.8rem;
        margin-top: 15%; } }
    @media only screen and (min-width: 768px) {
      #front_page_contact_container .front_page_contact_container--heading {
        font-size: 3.5rem;
        margin-top: 5%; } }
  #front_page_contact_container .front_page_contact_button_container {
    border: solid black;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10%;
    flex-grow: 10;
    margin-bottom: 20%;
    width: 100%; }
    @media only screen and (min-width: 600px) {
      #front_page_contact_container .front_page_contact_button_container {
        margin-bottom: 15%; } }
    @media only screen and (min-width: 768px) {
      #front_page_contact_container .front_page_contact_button_container {
        margin-bottom: 5%; } }
    #front_page_contact_container .front_page_contact_button_container .front_page_contact_button_container--button {
      border: solid black; }

footer {
  border: solid black;
  background-color: #F5C6C3;
  display: flex;
  flex-direction: column; }
  footer .footer_links {
    border: solid black;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    margin-bottom: 1rem; }
    @media only screen and (min-width: 600px) {
      footer .footer_links {
        flex-direction: column;
        justify-content: center;
        align-items: center; } }
    @media only screen and (min-width: 800px) {
      footer .footer_links {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 1rem; } }
    footer .footer_links a {
      border: solid black;
      color: #707070;
      text-decoration: none; }
    footer .footer_links .footer_links--link + .footer_links--link {
      margin-top: 3rem; }
      @media only screen and (min-width: 800px) {
        footer .footer_links .footer_links--link + .footer_links--link {
          margin-top: 0; } }
    footer .footer_links .footer_links > .footer_links--link {
      border: solid black;
      cursor: pointer; }
  footer .footer_image {
    border: solid black;
    text-align: center; }
  footer .footer_email {
    border: solid black;
    text-align: center;
    padding-bottom: 1rem;
    cursor: pointer;
    margin-top: 1rem; }
    footer .footer_email a {
      border: solid black;
      color: #707070;
      text-decoration: none; }

/*# sourceMappingURL=styles.css.map */
