#front_page_container_main{

    border: solid black;
    background-image: url("../images/cookie_stack_opimized_desktop.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    .front_page_about_container{

        border: solid black;
        display: flex;
        flex-flow: column wrap;
        margin: 5% 5% 5% 5%;

        .front_page_about_container--heading{

            border: solid black; 
            font-size: 1.8rem; 
            font-weight: bold;
            text-align: center;
            color: $front_page_about;

        }
        .front_page_about_container--description{

            border: solid black;
            text-align: center;
            margin: 0 0 10% 0;
            color: $front_page_about;
        }

        .front_page_about_button_container{

            border: solid black;
            margin: 0 auto;
            text-align: center;

            .front_page_about_button_container--button{
                border: solid black;
            }
    
        }

    }

}



    
    // .image_container{
    //     border: solid black;
    //     background-image: url(../../images/cookie_stack_opimized_desktop.jpg);
    //     background-size:cover;
    //     background-position: center center;
    //     position: relative;
    //     top: 0;
    //     bottom: 0;
    //     height: 100%;
    //     width: 100%;
    //     z-index: -10;
        
    //     .image_container--overlay{
    //         //add styles for the image here
    //         position: absolute;
    //         background-color: rgba(0, 0, 0, 1);
    //         top: 0;
    //         bottom: 0;
    //         height: 100%;
    //         width: 100%;
    //         z-index: -5;
    
    //     }
    // }

    // .front_page_contact{

    //     height: 18rem;

    //     .front_page_contact--saying{
            
    //         text-align: center;
    //         font-size: 3rem;
    //         margin-top: 6rem;
    //         margin-bottom: 4rem;
    //     }
    //     .front_page_contact--button{
    //         text-align: center;
    //     }
    // }



