#container_heading{
    border: solid black;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    nav{
        padding-top: $padding-menu;
        padding-left: $padding-menu;
        border: solid black;
        flex-grow: 0.5;
        text-align: center;
        .nav_closed{
            width: 2rem;
            height: .25rem;
            background-color: black;
            margin: 8px 0;   
        }
    
        .nav_list{
            .nav_list-links{
                //make navigation display for hamburger menu
                display: none;
            }
        }
    }

    .site_name{
        border: solid black;
        flex-grow: 9;
    }
}


